body {
	background-image: url(images/smallHex.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	font-family: helvetica;
}

div {
	box-sizing: border-box;
	border-radius: 40px;
}

div.header {
	background-color: black;
	border: 5px solid green;
	margin: 0 auto;
	width: 50%;
}

div.header h1 {
	font-size: 48pt;
	padding: 50px;
	margin: 10px auto;
}

div.form, .subject {
	background-color: black;
	border: 5px solid green;
	width: 90%;
	margin: 25px auto;
	padding: 25px;
}

div.blogPosts, div.newBlogPost {
	color: black;
	background-color: white;
	border: 5px solid green;
	width: 90%;
	margin: 5px auto;
	padding: 25px;
}